.DialogRootView {
    position: fixed;
    z-index: 2147483646;
    background-color: #80808060;
}

.DialogContainer {
    position: fixed;
    min-width: 150px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    z-index: 2147483647;

    background-color: #fefefe;
    border:1px solid #fafafa;
    border-radius:10px;
    box-shadow: 0px 0px 5px #d0d0d0;
}

.DialogDefaultContent {
    /* background-color: #aff; */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 10px;
}

.DialogDefaultButtonRow {
    /* background-color: #dff; */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: 20px;
    align-self: center;
    width: 100%;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

/* .DialogDefaultButton */
.DialogContainer button {
    color: #fefefe;
    background-color: #2880e8;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border: #fefefe00;
    border-radius: 2px;
}

.DialogContainer button:focus,
.DialogContainer button:hover {
    background-color: #2070f0;
}

.DialogContainer button:active {
    background-color: #1868f8;
}

.DialogDefaultInputRow {
    
    margin-top: 20px;
}

